<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ustcinfo.ai.qq.QQMsgMapper">
    <insert id="addMsg" parameterType="com.ustcinfo.ai.qq.QQMsg">
        insert into t_qq_msg(msg_class,summary,content,id,post_type,receiver,receiver_id,receiver_uid,sender,sender_id,sender_uid,time,type,record_time,qqgroup,qqgroup_id,qqgroup_uid) values(#{msg_class},#{summary},#{content},#{id},#{post_type},#{receiver},#{receiver_id},#{receiver_uid},#{sender},#{sender_id},#{sender_uid},#{time},#{type},#{record_time},#{qqgroup},#{qqgroup_id},#{qqgroup_uid})
    </insert>
</mapper>